<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pairwise Poetry Writer</title>
    <link rel="icon" type="image/x-icon" href="%% url_for('static', filename='favicon.ico') %%">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <script src="%% url_for('static', filename='main.js') %%"></script>
    <div ng-app="myApp" ng-controller="APIController">
        <div ng-show="showSavedPoems">
            Load Poem: 
            <select ng-model="poemToLoad" name="select-poem" id="select-poem">
                <option ng-repeat="p in savedPoems" value="{{p.title}}">
                    {{p.title}}
                </option>
            </select>
            <button ng-click="loadPoem()">Load Poem</button>
        </div>
        <div id="generate-poem-form">
            <form ng-submit="getResults()">
                <label for="word-2">Word 1:</label><br>
                <input type="text" id="word-1" name="word-1" ng-model="word1"><br>
                <label for="lname">Word 2:</label><br>
                <input type="text" id="word-2" name="word-2" ng-model="word2"><br><br>
                <input type="submit" value="Make Poem">
              </form> 
        </div>
        <br>
        <div>
            <button id="enable-tts-button" ng-click="enableTTS()" ng-show="poemGenerated || poemLoaded">
                Read Aloud
            </button>
            <button id="save-to-local" ng-click="savePoem()" ng-show="poemGenerated">
                Save Poem
            </button>
            <button id="remove-from-local" ng-click="removePoem()" ng-show="poemLoaded">
                Remove Poem
            </button>
            <div>{{ storageMessage }}</div>
        </div>
        <div id="poem">
            <div id="poem-title">{{ poemTitle }}</div>
            <div id="poem-text">
                <pre>{{ poemText }}</pre> 
            </div>
        </div>
    </div>

    <span id="generated-output"></span>
</body>

</html>